{% extends 'index.html' %}

	{% block content %}

	<div class="section bg-custom-light">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 mt-5" data-aos="fade-up">
					<h2 class="heading">Practicing Area</h2>
				</div>
			</div>
		</div>
	</div>

	
	<div class="section sec-4">
		<div class="container">

			<div class="row g-1 align-items-stretch">
				<div class="col-6 col-sm-6 col-md-4 col-lg-4" data-aos="fade-up">
					<a class="d-flex media-2 h-100" href="practicing-area-single.html">
						<div>01</div>
						<div>
							<h3>Asset <br> Searches</h3>
							<span class="icon-keyboard_arrow_right"></span>
						</div>
					</a>
				</div>
				<div class="col-6 col-sm-6 col-md-4 col-lg-4" data-aos="fade-up">
					<a class="d-flex media-2 h-100" href="practicing-area-single.html">
						<div>02</div>
						<div>
							<h3>Background <br> Investigations</h3>
							<span class="icon-keyboard_arrow_right"></span>
						</div>
					</a>
				</div>
				<div class="col-6 col-sm-6 col-md-4 col-lg-4" data-aos="fade-up">
					<a class="d-flex media-2 h-100" href="practicing-area-single.html">
						<div>03</div>
						<div>
							<h3>Business Due<br> Diligence</h3>
							<span class="icon-keyboard_arrow_right"></span>
						</div>
					</a>
				</div>
				<div class="col-6 col-sm-6 col-md-4 col-lg-4" data-aos="fade-up">
					<a class="d-flex media-2 h-100" href="practicing-area-single.html">
						<div>04</div>
						<div>
							<h3>Civil <br> Investigations</h3>
							<span class="icon-keyboard_arrow_right"></span>
						</div>
					</a>
				</div>
				<div class="col-6 col-sm-6 col-md-4 col-lg-4" data-aos="fade-up">
					<a class="d-flex media-2 h-100" href="practicing-area-single.html">
						<div>05</div>
						<div>
							<h3>Criminal Defense <br> Investigations</h3>
							<span class="icon-keyboard_arrow_right"></span>
						</div>
					</a>
				</div>

				<div class="col-6 col-sm-6 col-md-4 col-lg-4" data-aos="fade-up">
					<a class="d-flex media-2 h-100" href="practicing-area-single.html">
						<div>06</div>
						<div>
							<h3>Asset <br> Searches</h3>
							<span class="icon-keyboard_arrow_right"></span>
						</div>

					</a>
				</div>
				<div class="col-6 col-sm-6 col-md-4 col-lg-4" data-aos="fade-up">
					<a class="d-flex media-2 h-100" href="practicing-area-single.html">
						<div>07</div>
						<div>
							<h3>Background <br> Investigations</h3>
							<span class="icon-keyboard_arrow_right"></span>
						</div>
					</a>
				</div>
				<div class="col-6 col-sm-6 col-md-4 col-lg-4" data-aos="fade-up">
					<a class="d-flex media-2 h-100" href="practicing-area-single.html">
						<div>08</div>
						<div>
							<h3>Business Due<br> Diligence</h3>
							<span class="icon-keyboard_arrow_right"></span>
						</div>
					</a>
				</div>
				<div class="col-6 col-sm-6 col-md-4 col-lg-4" data-aos="fade-up">
					<a class="d-flex media-2 h-100" href="practicing-area-single.html">
						<div>09</div>
						<div>
							<h3>Civil <br> Investigations</h3>
							<span class="icon-keyboard_arrow_right"></span>
						</div>
					</a>
				</div>
				<div class="col-6 col-sm-6 col-md-4 col-lg-4" data-aos="fade-up">
					<a class="d-flex media-2 h-100" href="practicing-area-single.html">
						<div>10</div>
						<div>
							<h3>Criminal Defense <br> Investigations</h3>
							<span class="icon-keyboard_arrow_right"></span>
						</div>
					</a>
				</div>

				<div class="col-6 col-sm-6 col-md-4 col-lg-4" data-aos="fade-up">
					<a class="d-flex media-2 h-100" href="practicing-area-single.html">
						<div>11</div>
						<div>
							<h3>Background <br> Investigations</h3>
							<span class="icon-keyboard_arrow_right"></span>
						</div>
					</a>
				</div>
				<div class="col-6 col-sm-6 col-md-4 col-lg-4" data-aos="fade-up">
					<a class="d-flex media-2 h-100" href="practicing-area-single.html">
						<div>12</div>
						<div>
							<h3>Business Due<br> Diligence</h3>
							<span class="icon-keyboard_arrow_right"></span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>


	<div class="section pt-0">
		<div class="container">
			<div class="row">

				<div class="col-lg-7 order-lg-2">
					<div class="img-wrap" data-aos="fade-left">
						<img src="{{ url_for('static', filename='images/hero_2.jpg') }}" alt="Image" class="img-fluid rounded">	
					</div>
				</div>	
				<div class="col-lg-4 me-auto mt-5" data-aos="fade-right" data-aos-delay="100">
					<h3 class="mb-3">Peace &amp; order</h3>
					<p class="mb-5 text-white-50">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>

					<p><a href="#" class="btn btn-primary has-arrow mr-2">Read more <span class="icon-keyboard_arrow_right"></span></a></p>

				</div>
			</div>
		</div>
	</div>
	
	{% endblock %}